.first-block {
    border-style: solid;
    width: 40%;
  }
  
  .second-block {
    border-style: solid;
    height: 2em;
  }
  
  .third-block {
    float: right;
  }
  
  .main {
    display: flex;
  }